main {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 1px 5px #ddd;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

a {
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.options {
    display: flex;
    gap: 10px;
    flex-flow: nowrap row;
}

.options > a,
nav > a {
    display: block;
    padding: 10px 20px;
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
}

.options > a:hover,
nav > a:hover {
    box-shadow: inset 0 0 10px #ddd;
}
.options > a:active,
nav > a:active {
    background-color: #ddd;
}

h2 {
    margin: 0;
    margin-right: 50px;
}
