<ul>
    <li class="website-title" routerLink="/"><a>The Recipe Book</a></li>
    <li routerLinkActive="active" [routerLink]="['recipes']"><a>Recipes</a></li>
    <li routerLinkActive="active" [routerLink]="['shopping-list']">
        <a>Shopping List</a>
    </li>
    <li class="dropdown" appDropDown>
        <a class="dropdown-button">Dropdown</a>
        <div class="dropdown-content">
            <a>Link 1</a>
            <a>Link 2</a>
            <a>Link 3</a>
        </div>
    </li>
</ul>
