<!-- <main>
    <nav>
        <h2>
            <a href="#home">Website Title</a>
        </h2>
        <div class="options">
            <a (click)="onSelect('recipes')">Recipes</a>
            <a (click)="onSelect('shoppingList')">Shopping List</a>
        </div>
    </nav>
    <nav>
        <a href="#about">About</a>
    </nav>
</main> -->
<nav>
    <ul>
        <li><a (click)="onSelect('home')">Angular</a></li>
        <li><a (click)="onSelect('recipes')">Recipes</a></li>
        <li><a (click)="onSelect('shoppingList')">Shopping List</a></li>
    </ul>
</nav>
