ul {
    background-color: #eee;
    list-style-type: none;
    margin-bottom: 50px;
    margin-top: 0;
    overflow: hidden;
    user-select: none;
}

li {
    float: left;
    cursor: pointer;
}

li:hover {
    background-color: #ddd;
}
li.active {
    background-color: #ddd;
}

li > a {
    color: black;
    font-size: 1.3rem;
    display: block;
    margin: 14px 25px;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.website-title {
    margin-right: 30px;
    font-weight: 600;
}

.dropdown {
    float: right;
    margin-right: 20px;
}

.dropdown-content {
    background-color: #f2e9e4;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #22223b;
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.dropdown-content a {
    color: #22223b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #4a4e69;
    color: #f2e9e4;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */
