ul {
    background-color: #4a4e69;
    box-shadow: 0 0 2px 2px #4a4e69;
    list-style-type: none;
    margin: 0 0 50px 0;
    overflow: hidden;
    padding: 10px;
    user-select: none;
}

li {
    float: left;
}

li > a {
    font-size: 1.5rem;
    display: block;
    color: #f2e9e4;
    margin: 14px 25px;
    padding: 0;
    cursor: pointer;
}

.website-title {
    margin-right: 50px;
    font-weight: 600;
}

li > a:hover {
    color: #c9ada7;
}

li > a:active {
    color: white;
}

.dropdown {
    float: right;
    margin-right: 20px;
}

.dropdown-content {
    background-color: #f2e9e4;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #22223b;
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.dropdown-content a {
    color: #22223b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #4a4e69;
    color: #f2e9e4;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */
