main {
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

h3 {
    display: inline;
    border: 2px solid #4a4e69;
    border-radius: 5px;
    padding: 5px 15px;
}

img {
    object-fit: cover;
    width: 350px;
    height: auto;
    border-radius: 5px;
}

.recipe-details {
    display: flex;
}

.dropdown {
    display: inline;
    margin-left: 20px;
    position: relative;
}

.dropdown > a {
    box-shadow: 2px 2px #333;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: white;
}

.dropdown-content {
    position: absolute;
    left: 0;
    top: 25px;
}

.dropdown-content > button {
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 2px;
    background-color: #4a4e69;
    color: white;
    border: none;
    border-radius: 5px;
}
.dropdown-content > button:hover {
    background-color: #5b6080;
}
