<main>
    <h3>Recipe details</h3>
    <button (click)="onDetailsClose()">Close</button>
    <button (click)="addToShoppingList(recipeSelected.ingredients)">
        Add to List
    </button>
    <div *ngIf="recipeSelected; else infoText">
        <p>
            Details of recipe : <strong> {{ recipeSelected.name }}</strong>
        </p>
        <p>{{ recipeSelected.description }}</p>
        <div class="recipe-details">
            <img [src]="recipeSelected.imagePath" alt="recipe.name" />
            <ul>
                <li *ngFor="let ingredient of recipeSelected.ingredients">
                    {{ ingredient.name }} : {{ ingredient.amount }}
                </li>
            </ul>
        </div>
    </div>
    <ng-template #infoText><h4>No recipe selected</h4></ng-template>
</main>
