main {
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-image: url("../shared/hand.png");
    background-repeat: no-repeat;
    background-size: 15px;
    padding: 0 20px;
    margin: 0 20px;
}
