main {
    /* box-shadow: 0 0 10px #ddd; */
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

ul {
    padding: 10px;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
}

.list-item {
    /* list-style: none;
    background-image: url("../shared/hand.png");
    background-repeat: no-repeat;
    background-size: 15px; */
    width: 200px;
    background-color: #4a4e69;
    padding: 5px 20px;
    border-radius: 5px;
    color: #f2e9e4;
}

h2 {
    text-align: center;
}

h3 {
    display: inline;
    border: 2px solid #4a4e69;
    border-radius: 5px;
    padding: 5px 15px;
}
