main {
    /* box-shadow: 0 0 10px #ddd; */
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    display: flex;
}

app-shopping-edit {
    min-width: 30%;
}

ul {
    padding: 10px;
}

li {
    list-style: none;
    width: 200px;
    padding: 5px 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

li:hover {
    background-color: white;
}

li:active {
    border-color: #eee;
}

li > p {
    margin: 0;
}

h2 {
    text-align: center;
}

h3 {
    display: inline;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
}
