<main>
    <h3>Recipe list</h3>
    <button [routerLink]="['new']">New recipe</button>
    <div class="list-items">
        <app-recipe-item
            *ngFor="let recipe of recipes; let i = index"
            [recipe]="recipe"
            [index]="i"
        ></app-recipe-item>
    </div>
</main>

<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of recipes">
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.content }}</td>
        </tr>
    </tbody>
</table> -->
