form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    align-items: center;
}

input,
button {
    border-radius: 5px;
    width: 40%;
    outline: none;
    border: none;
    box-shadow: inset 0 0 5px #ddd;
    padding: 5px;
    background-color: #f2e9e4;
}

button {
    margin-top: 10px;
}
